@import "../../StyleSource/variables.scss";

.container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    svg {
        *[stroke] {
            stroke: $white;
        }
    }
}

.container:hover {
    cursor: pointer;
}