@import "../../StyleSource/variables.scss";

.container{
    flex: 1;
    display: flex;
    height: fit-content;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 1vw;

    .left{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 15px;
        padding-top: 10px;
        .username{
            margin-bottom: 10px;
        }
        .profileInfo{
            display: flex;
            gap: 25px;
            

            .profilePhoto {
                height: 100%;
                max-height: 20vh;
                min-height: 19vh;
                aspect-ratio: 1/1;
                background-color: orange;
                border-radius: 55%;
                background-size: cover;
                background-position: center;
                overflow: hidden;
   
                img {
                    width: 100%;
                    /* or any custom size */
                    height: 100%;
                    object-fit: cover;
                }
                .hoverProfile {
                    width: 100%;
                    height: 100%;
                    // display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.5);
                    position: relative;
                    z-index: 99;
                    display: none;
   
                    p {
                        position: relative;
                        color: $white;
                        @include smallText();
                        font-weight: bold;
                    }
                }
   
                &:hover {
                    .hoverProfile {
                        display: flex;
                        cursor: pointer;
                    }
                }


            }
            .accContainer{
                display: flex;
                justify-content: space-between;
                margin-top: 5px
            }

            .reputation{
                @include body();
                margin-top: 7px;
                margin-bottom: 15px;
                .rep{
                    color: $orange;
                    font-weight: bold;
                    
                }
            }

            .button{
                display: flex;
                gap: 25px;
                margin-top: 10px;

                #larger{
                    height: 55px;
                }
            }


 
        }

        .bottom{
            flex: 1;
            display: flex;   
            flex-direction: column;
            gap: 15px;
                     
        }

        .tagsContainer{
            display: flex;
            width: 100%;
            gap: 10px;
            height: fit-content;
            max-height: 35px;
            margin-top: 15px;
        }

    }

    textarea{
        border: 2px solid $orange;
        display: flex;
        width: 100%;
        min-height: 120px;
    }

    .right{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;
        padding-top: 10px;
        max-width: 510px;
        padding-right: 20px;

        h4{
            width: 100%;
            @include headingFour();
            font-weight: 400;
        }
    
    }

}

.secondary{
    display: flex;
    flex: 1;
    background-color: red;
}