@import "../../StyleSource/variables.scss";

.outer {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(47, 47, 47);

    .left {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    }
    .inner {
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-top: 150px;
        width: 1000px;
        height: 100vh;
        background-color: #F0F0F0;
        border-radius: 5%;

        .logo {
            background-color: rgb(255, 255, 255);
            width: 250px;
            height: 80px;
            margin-top: -70%;
            margin-left: 40%;
        }

        .text1 {
            margin-top: -40%;
            margin-left: -230px;
            font-size: 30px;
        }

        .text2 {
            margin-top: -20%;
            margin-left: -350px;
            font-size: 20px;
        }

        .insidetext {
            background-color: rgb(255, 255, 255);
            width: 500px;
            height: 300px;
            margin-top: 40%;
            margin-left: -52%;
            border-radius: 5%;

            .text3 {
                font-size: 20px;
                padding-top: 20%;
                padding-left: 10%;
                width: 55vh;
            }

            #secondary {
                min-width: 70%;
                
            }

        }
        
    }
    

       

        
       
  
}

@media only screen and (max-width: 1200px) {
    .outer {
        background-image: url("../../Assets/LoginImage.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .left {
            display: none;
        }

        .right {
            min-width: 70%;
            max-width: fit-content;
            background-color: rgba($color: $white, $alpha: .9);

            form {
                min-width: 100%;
            }

            #buttonSize,
            #secondary {
                min-width: 70%;
            }
        }
    }
}