@import "../../StyleSource/variables.scss";

.container {
    @include dropShadow();
    min-width: 800px;
    background-color: $white;
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 10px;
    gap: 10px;

    .left {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;

        div {
            @include headingSix();
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;

        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__sub {
                display: flex;
                align-items: center;
                gap: 5px;
            }
            svg {
                *[fill] {
                    fill: $orange;
                }
            }
        }

        .tagsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }
    }
}

.container {
    /* min-width: 800px;
    height: auto;
    min-height: fit-content;
    background-color: $white;
    margin-top: 1.5%;
    @include dropShadow();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 1%; */

    .innerLeft {
        height: 100%;
        width: 14%;
        background-color: red;
    }

    h4 {
        @include headingFour();
    }


    .profileContainer {
        width: 80%;

        .profile {
            width: 7%;
            aspect-ratio: 1/1;
            background-color: RED;
            border-radius: 55%;
            margin-top: 1%;
            display: inline-flex;
            vertical-align: middle;
            background-image: url("../../Assets/car.jpg");
            background-position: center;
            background-size: cover;

        }

        .name {
            display: inline-flex;
            vertical-align: middle;
            margin-left: 2%;
            @include body();

        }
    }

    .description {
        width: 82% !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-top: 1%;
        @include body();

    }

    .answeringUser {
        @include body();
        text-align: end;
        margin-top: 1.5%;
    }

}