@import "../../StyleSource/variables.scss";

.outer{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    justify-content: center;
    h3{
        @include headingThree();
        margin-bottom: 1.5vh;
        font-size: 28px;
    }
    h4{
        @include headingFour();
        font-size: 14px;
    }
    h5{
        @include headingThree();
        margin-bottom: 1.5vh;
        font-size: 10px;
        color: rgb(153, 153, 153);
        font-weight: light;
    }
    p{
        font-size: 14px;
    }
    
    
    .container {
        flex: 1;
 
        .buttonContainer{
            width: 25%;
            margin-left: 25%;
            margin-top: -2%;
        }

    }
   
    & ::-webkit-scrollbar{
        display: none;
    }

    .left{
        margin-right: 20vh;

       
    }
}


@media only screen and (max-width: 1440px){
    .outer{
        max-width: 800px;
    }
    
}

@media only screen and (min-width: 1442px){
    .outer{
        max-width: 80%;
    }
    
}

