@import "../../StyleSource/variables.scss";

.outer{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

    .container {
        flex: 1;
        align-items:center;
        justify-content: center;

        .buttonContainer{
            display: flex;
            justify-content: center;

            margin-top: 20px;
        }
    }
}