@import "../../StyleSource/variables.scss";

.container{
    width: 20vw;
    min-width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: sticky;
    top: 0;
}
