@import "../../StyleSource/variables.scss";

.container{
    @include dropShadow();
        width: 100%;
        height: fit-content;
        max-width: 500px;
        background-color: white;
        border: 1px solid rgba($color: $black, $alpha: 0.1);
        padding: 10px;
        margin-bottom: 10px;
        flex-basis: 32%;

        .tagsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: flex-start;
            margin-bottom: 2vh;

            #height{
                height: 30px ; 
            
            }
        }

        .informationContainer{
            p{
                @include body();
            }
            
        }


}

@media only screen and (max-width: 700px){

    .container{
        width: 100%;
        height: 40vh;
        // max-width: 300px;
        padding: 10px;
        margin-bottom: 15px;
        flex-basis: 45%;
        #height{
          margin-top: 5%;
        }
    }

    .desc{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
    }   
}