@import "../../StyleSource/variables.scss";

.main {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    
    .title {
        @include headingFour();
        margin-bottom: 20px;
    }

    .badge_row {
        flex: 1;
        height: fit-content;
        overflow: scroll;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        max-width: 75vw;

        & ::-webkit-scrollbar{
            display: none;
        }        
    }
}