@import "../../StyleSource/variables.scss";

.main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    flex-direction: column;
    padding-left: 2%;
    overflow: scroll;
    column-gap: 15px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}