@import "../../StyleSource/variables.scss";

.container {
    min-height: 19vh;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 1%;
    
    .profilePhoto {
        height: 100%;
        max-height: 20vh;
        min-height: 19vh;
        aspect-ratio: 1/1;
        background-color: orange;
        border-radius: 55%;
        background-size: cover;
        background-position: center;
        overflow: hidden;

        img {
            width: 100%; /* or any custom size */
            height: 100%; 
            object-fit: cover;
            position: relative;
            z-index: 999;
    
        }
        .hoverProfile{
            width: 100%;
            height: 100%;
            // display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            position: relative;
            z-index: 99;
            display: none;

            p{
                position: relative;
                color: $white;
                @include body();
                font-weight: bold;
            }

        
        }

        &:hover{
            .hoverProfile{
                display: flex;
                cursor: pointer;  
            }
        }
    }

    .userIntro {
        background-color: white;
        padding-top: 3%;
        
        h3 {
            @include headingFour();
            font-weight: 500;
        }

        p {
            @include body();
            color: darken($grey, 40%);
        }

        .year {
            margin-top: 3%;
        }

        .accContainer {
            display: flex;
            justify-content: flex-start;
            gap: 15px;
        }

        .accomplishments {
           display: flex;
           margin-top: 3%;
        }
    }
}