@import "../../StyleSource/variables.scss";

.container {
    flex: 1;
    margin-left: 1%;
    height: fit-content;
    margin-top: 7%;

    .areaContainer {
        display: flex;
        justify-content: center;
        max-width: 800px;

        textarea {
            flex: 1;
            max-width: 800px;
            border: 1px solid $orange;
            height: fit-content;
            min-height: 200px;
            background-color: transparent;
            @include body();
            padding: 10px;
            outline: none
        }
    }

    h5 {
        @include headingSix();
        margin-bottom: 2vh;
    }

    .buttonContainer {
        display: flex;
        align-items: flex-end;
        justify-content: right;
        // margin-left: 25%;
        padding-right: 2.2%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}