@import "../../StyleSource/variables.scss";

.outer{
    display: flex;
    flex: 1;
    align-items: center;
    height: fit-content;
    width: fit-content;
    max-width: 1000px;
    padding: 20px 0;
    gap: 20px;

    h3{
        @include headingThree();
    }

    .votingContainer{
        height: fit-content;
        
        h6{
            @include headingFive();
            font-weight: 700;
            text-align: center;
        }
    }

    .votingContainer :nth-child(3){
        transform: rotate(180deg);
    }

    .questionContainer{
        .description{
            @include body();
            margin-top: 10px;
        }

        .userInformation{
            @include smallText();
            color: darken($grey, 35%);
        }
    }
}


