@import "../../StyleSource/variables.scss";

.container{
    width: 22vw;
    min-width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: sticky;
    top: 0;
    // background-color: red;

    #discordButton{
        margin-left: 2%;
        margin-top: 2%;
        width: 100%;
            
        img{
            margin-left: -30% ;
        }
    }
}