@import "../../StyleSource/variables.scss";

.container {
    @include dropShadow();   
    padding: 5px;
    height: fit-content;
    max-width: 250px;
    min-width: 250px;
    width: fit-content;
    border: 1px solid rgba($color: $black, $alpha: 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgb(224, 77, 172);


    .badgeDescription {
        display: none;
    }
    
    &:hover {
        .badgeDescription {
            display: flex;
        }
    }

    &__image{
        width: 150px;
        height: 150px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__badgeTitle {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        p {
            font-weight: 400;
            @include body()
        }
    }
}