@import "../../StyleSource/variables.scss";

.container {
    display: flex;
    flex: 1;

    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
