@import "../../StyleSource/variables.scss";

.container {
    display: flex;
    padding: 20px 10px;
    gap: 30px;
    width: fit-content;
    height: fit-content;
    max-width: 1130px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    .inner{
        display: flex;
        width: 100%;
        gap: 15px;

        .voting {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            height: fit-content;
    
            & :nth-child(3) {
                transform: rotate(180deg);
            }
        }

        .question {
            .description {
                @include body();
                margin-top: 10px;
                width: 100%
            }
    
            .userInformation {
                @include smallText();
                color: #B1ACAC;
            }
        }
    }

    .code{
        width: 91%;
        margin-bottom: 20px;
        height: fit-content;
    }

    .imageContainer{
        display: flex;
        width: 91%;
        height: fit-content;

        img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

    }



}