@import "../../StyleSource/variables.scss";

.container {
    display: flex;
    padding: 20px 10;
    gap: 30px;
    width: fit-content;
    height: fit-content;
    max-width: 1000px;
    flex: 1;

    .voting {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        height: fit-content;

        & :nth-child(3) {
            transform: rotate(180deg);
        }
    }

    .question {
        .description {
            @include body();
            margin-top: 10px;
        }

        .userInformation {
            @include smallText();
            color: #B1ACAC;
        }
    }
}