@import "../../StyleSource/variables.scss";

.code-sec {
    border:2px solid $orange;
    border-width:2px;
    border-style:solid;
    border-color:$orange;
    width: 100px;
    height: 400px;
    
}