@import "../../StyleSource/variables.scss";

.outer{
    overflow: scroll;
    padding: 20px 0;

    &::-webkit-scrollbar {
        display: none;
    }
    
    & {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    h3{
        @include headingThree();
        margin-bottom: 1.5vh;
    }
    & ::-webkit-scrollbar{
        display: none;
    }
}