@import "../../StyleSource/variables.scss";

.outer{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    
    .container {
        flex: 1;
    }

    h3{
        @include headingThree();
        margin-bottom: 1.5vh;
    }
    & ::-webkit-scrollbar{
        display: none;
    }
}


@media only screen and (max-width: 1440px){
    .outer{
        max-width: 800px;
    }
    
}