@import "../../StyleSource/variables.scss";

p {
    font-family:'Quicksand', sans-serif;
    font-weight: 1000;
    margin-top: 20px;
    margin-left: 70px;
}
#email-btn {
    background-color: black;
    margin-left: 70px;
}