@import "../../StyleSource/variables.scss";


.container {
    display: flex;
    flex: 1;
    background-color: bisque;
 }
h2 {
    font-family:'Quicksand', sans-serif;
    margin: 30px;
}
h3 {
    margin-top: 90px;
    font-family:'Quicksand', sans-serif;
}