@import "../../StyleSource/variables.scss";


.container {
    display: flex;
    flex: 1;
    background-color: bisque;
 }
h2 {
    // There is a variables folder set up for this kind of thing. Please refer to that file for styling. See import on line 1 
    // If you are confused please message me and we can sort it all out. 
    font-family:'Quicksand', sans-serif;
    margin: 30px;
}
h3 {
    margin-top: 90px;
    font-family:'Quicksand', sans-serif;
}