@import "../../StyleSource/variables.scss";

/* This Container will Auto Grow to the Full Width of the Screen */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $black;
    margin: 0 10px;

    &__logo {
        display: flex;
        flex-basis: 10%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__search {
        display: flex;
    }

    &__login {
        display: flex;
        align-items: center;
        gap: 20px;

        &--trophy {
            svg {
                width: 34px;
                height: 34px;
            }
        }
    }

    &__profile {
        display: flex;
    }
}